* {
    font-family: Cambria, Cochin, Helvetica, Georgia, Times, 'Times New Roman', serif;
}

#navcontainer {
    margin: 0 0 0 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 3px;
    border-style: dashed;
    border-color: gray;
    



}